- cache nil do
  #cookieConsent.p-3
    .d-flex.align-items-center.justify-content-center
      %p.m-0.text-left.text-lg-center.text-white
        By using this website, you agree to our use of cookies to measure the audience and use of this website.
        &nbsp;
        = link_to 'Find out more', cookies_path, class: 'text-white', style: 'text-decoration: underline !important'
      = link_to 'Okay', '#', id: 'cookieButton', data: { turbolinks: false }, class: 'mx-3 btn btn-sm btn-outline-secondary text-uppercase', style: 'white-space: nowrap'