- provide(:title, 'Page not found')
.position-relative.overflow-hidden
  #hero.d-flex.align-items-center
    = hero_picture_tag 'hero/image/404.jpg', class: 'lazy', alt: 'Website Cookies'
    .container.text-white.text-center{style: 'z-index: 1'}
      .hero-padding
        %h1.my-2.wow.fadeInDown
          #{content_tag(:span, 'Page not')} found

%section.container.my-5
  .row
    .col
      %p.lead
        The page you are looking cannot be found.