#cookieConsent {
  
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: theme-color(primary);
  z-index: 1;
  transition: transform 600ms ease-in-out;
  transform: translateY(100%);
  font-size: small;
  &.pending {
    transform: translateY(0%);
  }
  &.okayed {
    transform: translateY(100%);
  }

}